# FastAPI + 서버 실행
fastapi==0.115.0
uvicorn[standard]==0.30.6

# DB (MySQL)
SQLAlchemy==2.0.36
mysqlclient==2.2.5
PyMySQL==1.1.1


# 환경 변수 관리
python-dotenv==1.0.1

# 인증 관련
python-jose==3.3.0
passlib[bcrypt]==1.7.4

# 기타 유틸
email-validator==2.2.0
loguru==0.7.2

# 테스트
pytest==8.3.2
pytest-asyncio==0.24.0

# openAI
openai>=1.0.0
